.searchDetails-container {
  background-color: #3367d6;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img-main {
  padding: 20px;
  background-color: #3367d6;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.input {
  background-color: #2850a7;
  outline: none;
  color: #ffffff;
  padding: 10px;
}
.search {
  background-color: #2850a7;
  outline: none;
  padding: 8px;
  margin-right: 5px;
}
/* .unorder-list {
  box-shadow: 10px 10px 10px 10px #ececec;
  margin: 40px;
  border-radius: 10px;
  padding: 10px;
  width: 75vw;
} */
.bottom {
  background-color: rgb(56, 58, 59);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: aliceblue;
  padding: 10px;
}
.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
}
.link1 {
  color: aliceblue;
  margin-right: 20px;
}
.link2 {
  color: aliceblue;
  margin-left: 20px;
}
.fab {
  color: #2850a7;
}
.fa {
  color: #ffffff;
}
.error-msg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.unorder-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: enter;
  padding: 20px;
  box-shadow: 0px 1px 2px 0px;
  border-radius: 8px;
  width: 950px;
}
.footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
